<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Balance Page</title>
</head>
<body>
<h1>Balance Page</h1>

<button th:onclick="location.href='index.html'">Index</button>
<button th:onclick="location.href='user_page.html'">User Page</button>
<button th:onclick="location.href='admin_page.html'">Admin Page</button>
<hr>
<button th:onclick="location.href='account.html'">Account</button>
<button th:onclick="location.href='cards.html'">Cards</button>
<button th:onclick="location.href='loans.html'">Loans</button>
<button th:onclick="location.href='balance.html'">Balance</button>
<hr>
<button th:onclick="location.href='logout.html'">Logout</button>
</body>
</html>